.vscode/*
!.vscode/extensions.json
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.ignored/
.DS_Store
.env

# Written by `python -m pipeline.topic_map` in dev; built on the box in prod.
/frontend/public/data/topic-map.json
